// langer
.s-button-lg {
}

// mini
.s-button-mini {
}

:deep(.my-button-custom) {
  color: #fff;
  border: 1px solid #56b88e;
  background-color: transparent;
  box-shadow: 0 0 15px 5px #56b88e80 inset;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #56b88e30;
    box-shadow: 0 0 15px 5px #56b88e80 inset;
  }
  &.ant-btn-background-ghost {
    background-color: #56b88e30;
    box-shadow: 0 0 15px 5px #56b88e80 inset;
  }
}
// medium
