:deep(.my-extra-select) {
  .ant-select-selector {
    background-color: transparent;
    border-color:  #56b88e20;
  }
}
:deep(.my-select) {
  .ant-select-selector {
    background-color: transparent;
    border-color:  #56b88e;
  }
}

:deep(.ant-select-selection-placeholder) {
  color: #d8ecff60;
}

:deep(.ant-select-arrow) {
  color: #d8ecff60;
}
